version: "3.8"

services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"

  auth-service:
    build: ./auth-service
    ports:
      - "5001:5000"
    depends_on:
      - mysql

  product-service:
    build: ./product-service
    ports:
      - "5002:5000"
    depends_on:
      - mysql

  payment-service:
    build: ./payment-service
    ports:
      - "5003:5000"
    depends_on:
      - mysql
